{% extends "base.twig" %}


{% block title %}
{% endblock %}


{% block metaDescription %}
    My website's homepage.
{% endblock %}


{% block metaKeywords %}
    keyword, keyword, keyword
{% endblock %}


{% block content %}
    <div class="page-header">
        <h1>{{ site.title }}</h1>
    </div>

	<a href="page/">List of Pages</a>
{% endblock %}