{% extends "base.twig" %}


{% block title %}
    {{ page.title }}
{% endblock %}


{% block metaDescription %}
    {{ page.description }}
{% endblock %}


{% block metaKeywords %}
    {{ page.keywords }}
{% endblock %}


{% block content %}
    <a href="page/">« Back to Pages</a>
    <div class="page-header">
        <h1>{{ page.heading }}</h1>
    </div>

    {{ page.content|nl2p|raw }}

    <a href="page/{{ page.slug }}/edit">Edit</a> <a href="page/{{ page.slug }}/delete">Delete</a>
{% endblock %}