{% extends "base.twig" %}


{% block title %}
    Pages
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Pages</h1>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Post</th>
                <th style="width: 15em;">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for page in pages %}
                <tr>
                    <td><a href="page/{{ page.slug }}" class="btn btn-link">{{ page.title }}</a></td>
                    <td>
                        <a href="page/{{ page.slug }}/edit" class='btn btn-info'>Edit</a>
                        <a href="page/{{ page.slug }}/delete" class='btn btn-danger'>Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="page/new">+ add new page</a>
{% endblock %}