{% extends "base.twig" %}

{% if mode == 'add' %}
    {% set formUrl = 'page/new' %}
{% else %}
    {% set formUrl = ['page/', page.slug, '/edit']|join %}
{% endif %}


{% block title %}
    {{ page.title }} – {{ mode|capitalize }} Page
{% endblock %}


{% block content %}
    <h2>{{ mode|capitalize }} Page</h2>
    <form action="{{ formUrl }}" method="post" enctype="multipart/form-data" role="form" class="form-horizontal">

        <input type="hidden" name="action" value="{{ mode }}">
        <input type="hidden" name="id" value="{{ page.id }}">

        <div class="form-group">
            <label for="title" class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
                <input id="title" name="title" type="text" value="{{ page.title }}" class="form-control">
                <span class="error">{{ messages.title }}</span>
            </div>
        </div>
        <div class="form-group">
            <label for="slug" class="col-sm-2 control-label">Slug</label>
            <div class="col-sm-10">
                <input id="slug" name="slug" type="text" value="{{ page.slug }}" class="form-control" {% if mode == 'edit' %} readonly {% endif %}>
                <span class="error">{{ messages.slug }}</span>
            </div>
        </div>
        <div class="form-group">
            <label for="heading" class="col-sm-2 control-label">Heading</label>
            <div class="col-sm-10">
                <input id="heading" name="heading" type="text" value="{{ page.heading }}" class="form-control">
                <span class="error">{{ messages.heading }}</span>
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
                <input id="description" name="description" type="text" value="{{ page.description }}" class="form-control">
                <span class="error">{{ messages.description }}</span>
            </div>
        </div>
        <div class="form-group">
            <label for="keywords" class="col-sm-2 control-label">Keywords</label>
            <div class="col-sm-10">
                <input id="keywords" name="keywords" type="text" value="{{ page.keywords }}" class="form-control">
                <span class="error">{{ messages.keywords }}</span>
            </div>
        </div>
        <div class="form-group">
            <label for="content" class="col-sm-2 control-label">Content</label>
            <div class="col-sm-10">
                <textarea id="content" name="content" cols="80" rows="5" class="form-control">{{ page.content }}</textarea>
                <span class="error">{{ messages.content }}</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">{{ mode|capitalize }}</button>
            </div>
        </div>
    </form>
{% endblock %}