{% extends "base.twig" %}

{% set formUrl = ['page/', page.slug, '/delete']|join %}

{% block title %}
    Delete {{ page.title }}?
{% endblock %}


{% block content %}
    <div class="page-header">
        <h1>Delete "{{ page.heading }}"?</h1>
    </div>

    <p>You sure you want to delete this post?</p>

    <form action="{{ formUrl }}" method="post" enctype="multipart/form-data" role="form" class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Delete Post</button>
            </div>
        </div>

    </form>

{% endblock %}